.chat-page {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-grow: 1;
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30em;
    background-color: hsl(212, 100%, 35%)
}

.friend-section {
    width: 30em;
    min-width: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: white;
}

.friend-request-form {
    width: 100%;
    min-width: 100%;
}

.friend-list {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    width: 100%;
}

.chat-section {
    display: flex;
    min-width: 50%;
    flex-direction: column;
    flex-grow: 1;
}

.name-bar {
    display: flex;
    color: #DDD;
    background-color: #314e89;
    font-size: 3em;
    padding: 0.5em;
    align-items: center;
    gap: 10px;
}

.chat-display-container {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    transform: rotate(180deg);
    direction: rtl;
    background: #f0f0f0;
    margin: 2em;
}

.chat-display {
    background-color: #f0f0f0;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 1em 3em 1em 5em

}

.chat-message-container {
    font-size: 1.3em;
    max-width: 25em;
    margin: 1em;
    overflow-wrap: break-word;
    padding: 10px;
    transform: rotate(180deg);
    direction: ltr;
    position: relative;
    display: flex;
    align-items: center;
}

.chat-message {
    border-radius: 10px;
    padding: 10px; 
    overflow-wrap: break-word;
    position: relative;
    direction: ltr;
    max-width: 20em;
    margin-left: 10px;
    margin-right: 10px;

}

.online-status-indicator {
    font-size: 0.7em;
}

.new-messages {
    display: flex;
    margin-left: 5em;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    color: red;
}

.new-messages-icon {   
    margin-left: 2px;
}

.friend-list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12em;
}

.no-friends-text {
    text-align: center;
    margin-top: 50%;
    font-size: 1.2em;
    color: gray;
}

.pending-friend-requests-count {
    color: #ff0000;
    font-size: 0.7em;
    margin-left: 3px;
}

.pending-friend-requests-btn {
    display: flex;
    color: #DDDDDD;
    font-weight: bold;
    font-size: 1.5em;
    align-items: center;
}

.pending-friend-requests-btn:hover {
    color: white
}

.pending-friend-request-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}

.logout-btn {
    color: white;
    margin-top: 1em;
}

.logout-btn:hover {
    text-decoration: underline;
}

.menu-utilities {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.welcome-text {
    font-size: 1.5em;
    margin-bottom: 2em;
}

